html {
  font-size: 16px;
}

body {
  margin: 0px;
}

header {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 64px;
  width: 100%;
  justify-content: flex-start;
  z-index: 2;
  background-color: white;
}

.logo {
  display: flex;
}

.logo img {
  width: auto;
  height: 50px;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

nav ul {
  margin-right: 20px;
}

.section-1 {
  margin-left: 0px;
  margin-top: 64px;
  background-color: #ccc;
  display: flex;
  justify-content:  space-between;;
}

.section-1 img {
  padding: 32px 24px;
  width: 50%;
  height: 30%;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1rem;
}

.headline {
  margin-top: 15%;
  display: inline-block;
  margin-right: 200px;
}

.button {
  padding: 8px;
  background-color: gray;
  text-align: center;
  color: white;
}

.section-2 {
  background-color: white;
  display: flex;
  padding: 32px 24px;
  width: 100%;
}

.section-2 img {
  width: 100%;
  height: auto;
}

.left {
  width: 50%;
}

.items {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.item {
  display: flex;
  width: 100%;
  padding: 16px;
}

.item img {
  width: 150px;
  height: 150px;
}
